################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProActive Bot
/.vs/ProActiveBot/v17
/.vs/TeamsTaskModule/v16
/.vs/ProActiveBot
/.vs
